.SideBar
  .LeftHeader 
    .LeftHeader__list
      %p.LeftHeader__userName sample
      %ul.LeftHeader__iconList
        %li.LeftHeader__Icon
          %a(href ="#")
            %i.fas.fa-edit
        %li.LeftHeader__Icon
          %a(href ="#")
            %i.fas.fa-cog 
  .GroupList
    .Group
      %a(href ="#")
        .Group__name sample
        .Group__message sample        